@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


.inventario .card{
    text-align: center;
    height: 370px;
}
.inventario .card img{
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 240px;
    height: 240px;
}
.wrapper{
    margin: 0 auto;
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper span{
    width: 70%;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.wrapper span.num{
    font-size: 25px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
}


.inicio{
    margin-top: 120px;
    margin-bottom: 120px;
}

.pedidos{
    display: flex;
}

.pedidos i{
    margin: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #c1804f;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #c1804f;
    transition: all 0.3s ease;
}
/* azucar:797780 */

.pedidos i:hover{
    color: #fff;
    background: #c1804f;
}

.pedidoA i{
    margin: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #797780;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #797780;
    transition: all 0.3s ease;
}
/* azucar:797780 */

.pedidoA i:hover{
    color: #fff;
    background: #797780;
}
  